*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

*:focus {
    outline: none
}

html {
    margin: 0;
}

a {
    text-decoration: none
}

:root {

    --white-color: #ffffff;
    --black-color: #000000;
    --red-color: #FD5056;
    --brown-color: #280C0C;
    --gray-color: #E9E9E9;
    --text-color:#696262;
    --footer-color:#C8BDBD;
    --background-main-color:#E5E5E5;
    --background:linear-gradient(131.1deg, rgba(253, 80, 86, 0.07) 0%, rgba(253, 80, 86, 0) 73.29%);
}

.l-container {
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.img-wrap {
    position: relative;
    height: auto;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 56.25%;
}
.img-wrap img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    transform: translateZ(0);
    margin: 0 auto;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
}

section{
    padding: 50px 0;
}
/* Header */

.header{
    padding: 25px 0;
    background: var(--background);
}

.header .wrap{
    display: flex;
    align-content: center;
    height: 100%;
    align-items: center;
}

.header .wrap.right{
    justify-content: space-between;
}

.header .wrap .logo{
    max-width: 120px;
    margin-right: 50px;
}

.header .form{
    position: relative;
}

.header .form input{
    border-radius: 24px;
    border: 1px solid var(--gray-color);
    padding: 8px 18px 8px 40px;
}

.header .form::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    background-image: url(assets/images/icon-search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8px;
}

/* Menu */

.main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.main-menu .menu-item a {
    padding: 6px 12px;
    transition: .5s;
    position: relative;
    display: block;
    font-weight: 400;
    transition: all .5s;
}

.main-menu .menu-item a::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 12px;
    width: 0%;
    height: 2px;
    background-color: var(--red-color);
    transition: all .5s;
}

.main-menu .menu-item a:hover:before{
    width: 30%;
}

.main-menu .menu-item a:hover {
    color: var(--red-color);
}

.header .header-top .icon-menu,
.header .icon-menu,
.menu-mobile{
    display: none;
}

.btn a{
    padding: 6px 12px;
    background-color: var(--red-color);
    border-radius: 24px;
    color: var(--white-color);
}

/* Hero Module */
.hero-module{
    background: var(--background);
}
.hero-module .box-img .img-wrap{
    border-radius: 20px;
}

.hero-module .box-img .wrap-images .bottom{
    margin-top: 24px;
    padding-top: 100.25%;
}

.hero-module .box-img .img-wrap.right{
    margin-top: 80px;
    padding-top: 170.25%;
}

.hero-module .wrap-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-module .wrap-content .title{
    margin-bottom: 18px;
    font-size: 64px;
}

.hero-module .wrap-content .desc{
    margin-bottom: 24px;
}
.hero-module .wrap-content .wrap-btn-video{
    display: flex;
    align-items: center;
}
.hero-module .wrap-content .wrap-btn-video .btn{
    padding: 0;
    margin-right: 24px;
}
.hero-module .wrap-content .wrap-btn-video .btn a{
    padding: 12px 24px;
}
.hero-module .wrap-content .box-video{
    display: flex;
    align-items: center;
    position: relative;
}
.hero-module .wrap-content .avatar{}
.hero-module .wrap-content .sub{}
.hero-module .wrap-content a.btn-play{
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgb(0 0 0 / 7%);
    width: 40px;
    height: 40px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px 0 -12px;
}

/* Destinations */

.title{
    font-size: 44px;
    margin-bottom: 16px;
}

.sub-title{
    color: var(--text-color);
    max-width: 40%;
}
 .item{
    margin-top: 24px;
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.destinations .item .img-wrap{
    border-radius: 20px;
    padding-top: 110.25%;
}
.destinations .item .inner{
    padding: 24px;
    position: absolute;
    bottom: 0px;
    left: 0%;
    transform: translateY(10%);
    opacity: 0;
    transition: all .4s ease;
    z-index: 9;
    background-color: var(--white-color);
    border-radius:0px 0px 20px 20px ;
}

.destinations .item:hover .inner{
    transform: translateY(0);
    opacity: 1;
}

.item .inner .title{
    font-size: 22px;
}
.destinations .item .inner .sub-title{
    max-width: 100%;
}
.destinations .item .inner a{
    color: var(--red-color);
}
/* Package */
.title-center{
    font-size: 44px;
    text-align: center;
    margin-bottom: 16px;
}

.sub-title-center{
    color: var(--text-color);
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
}

.package .item .img-wrap{
    border-radius: 16px 16px 0px 0px;
    padding-top: 90.25%;
}
.package .item .img-wrap .price{
    padding: 12px 24px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    border-radius: 14px 0px 0px 0px;
    color: var(--red-color);
    background-color: var(--white-color);
    transition: all .5s ease;
}

.package .item:hover .img-wrap .price{
    color: var(--white-color);
    background-color: var(--red-color);
}

.item .inner{
    padding: 16px;
}

.package .item .inner .title{
    text-align: left;
}

.package .item .inner .sub-title{
    text-align: left;
    font-size: 14px;
    max-width: 100%;
    color: var(--text-color);
}

.btn_center{
    margin: 24px auto 0;
    display: block;
    width: max-content;
}

.btn_center a{
    padding: 12px 34px;
    background-color: var(--red-color);
    border-radius: 24px;
    color: var(--white-color);
}
/* Trip Video */
.trip-video{
    background: var(--background);
}
.trip-video .img-wrap{
    padding-top: 50.25%;
    border-radius: 20px;
    margin: 36px 0;
}

.trip-video .img-wrap::before{
    content: "";
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-image: url(assets/images/btn-play.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    z-index: 99;
}

.trip-video form{
    width: max-content;
    margin: 0 auto 40px;
}

.trip-video form input{
    border: none;
    border-bottom: 1px solid var(--red-color);
    padding: 12px 24px;
    background-color: transparent;
}
/* Our Blog */
.our-blog .read-all{
    color: var(--red-color);
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 18px;
}
.our-blog .item .img-wrap{
    border-radius: 16px 16px 0px 0px;
    padding-top: 70.25%;
}

.our-blog .item .inner .box-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.our-blog .item .inner .box-info .info{
    display: flex;
    align-items: center;
}
.our-blog .item .inner .box-info .info .avatar{
    max-width: 40px;
    margin-right: 12px;
}
.our-blog .item .inner .box-info .info .name{
    font-size: 14px;
    color: var(--text-color);
}
.our-blog .item .inner .box-info .read-all{
    font-size: 14px;
}

/* Footer */
.footer{
    padding: 50px 0 24px;
    background-color: var(--brown-color);
}

.footer .info .logo{
    max-width: 100px;
    margin-bottom: 10px;
}

.footer .info .coppy-right{
    color: var(--footer-color);
    margin-bottom: 20px;
}
.footer .info .list-social {
    display: flex;
    align-items: center;
}

.footer .info .list-social .social .icon{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 -17px;
}
.footer .info .list-social .social .icon.facebook{
    background-image: url(assets/images/facebook.png);
}
.footer .info .list-social .social .icon.twitter{
    background-image: url(assets/images/twitter.png);
}
.footer .info .list-social .social .icon.instagram{
    background-image: url(assets/images/instagram.png);
}


.footer .box .title-list{
    color: var(--white-color);
    margin-bottom: 16px;
}

.footer .box .list .link {
    margin-bottom: 12px;
}

.footer .box .list a{
    color: var(--footer-color);
}
/* Responsive */
@media only screen and (max-width: 1399px) {}

@media only screen and (max-width: 1199px) {
    .hero-module .wrap-content .wrap-btn-video .btn a {
        padding: 12px 20px
    }
}

@media only screen and (max-width: 991px) {
    .header .wrap.right{
        display: none;
    }
    .header .wrap{
        justify-content: space-between;
    }
    .header .icon-menu {
        display: block;
        max-width: 30px;
        float: right;
    }

    .menu-mobile{
        position: fixed;
        top: 0%;
        right: -100%;
        background-color: #ffffff;
        width: 50%;
        padding: 24px;
        height: 100%;
        transition: all 0.5s;
        z-index: 999;
        display: block;
    }

    .menu-mobile.open{
        right: 0%;
    }
    
    .menu-mobile .main-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .overlay{
        position: fixed;
        top: 0%;
        right: 0%;
        background-color: #00000080;
        width: 100%;
        padding: 24px;
        height: 100%;
        transition: all 0.5s;
        z-index: 1;
        transform: scale(0);
    }

    .overlay.open{
        transform: scale(1);
    }

    .menu-mobile .main-menu .menu-item{
        border-bottom: 1px solid var(--gray-color);
        width: 100%;
    }

    .main-menu .menu-item a {
        padding: 6px 12px 10px 0px;
        margin-top: 12px;
        font-size: 20px;
    }
    
    .hero-module .wrap-content{
        margin-top: 24px;
    }
    
    .footer .box{
        margin-top: 24px;
    }
}

@media only screen and (max-width: 769px) {
    .header .form {
        display: none;
    }
    .menu-mobile.open{
        width: 70%;
    }
    .title-center {
        font-size: 40px;
    }
    .sub-title-center,
    .sub-title
    {
        max-width: 60%;
    }
    .item .inner .title{
        font-size: 18px;
    }
    .our-blog .item .inner .box-info{
        align-items: flex-start;
        flex-direction: column;
    }
    .our-blog .item .inner .box-info .info{
        margin-bottom: 12px;
    }
    .footer .info .list-social .social .icon{
        width: 80px;
        height: 80px;
    }
    .footer .info .coppy-right{
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 650px) {}

@media only screen and (max-width: 574px) {
    .hero-module .wrap-content .wrap-btn-video {
        flex-direction: column-reverse;
    }

    .hero-module .wrap-content .wrap-btn-video .btn{
        width: 100%;
        margin: 24px 0 0;
    }

    .hero-module .wrap-content .wrap-btn-video .btn a {
        width: 100%;
        display: block;
    }

    .hero-module .wrap-content .title {
        font-size: 32px;
    }

    .hero-module .box-img .img-wrap.right {
        margin-top: 24px;
    }

    .title {
        font-size: 32px;
    }

    .sub-title-center,
    .sub-title{
        max-width: 100%;
    }
    .title-center {
        font-size: 32px;
    }

}